@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100vh;
  position: relative;
  font-size: 16px; }

/* Set core body defaults */
body {
  min-height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  position: relative;
  font-size: 1rem; }

main {
  position: relative; }

@font-face {
  font-family: 'my_font';
  src: local("微軟正黑體");
  unicode-range: U+4E00-9FFF ,U+2E80-2EFF; }

@font-face {
  font-family: 'my_font';
  unicode-range: U+0020-007F; }

@font-face {
  font-family: 'my_font';
  src: local("微軟正黑體");
  unicode-range: U+0040; }

@font-face {
  font-family: 'my_font';
  src: local("微軟正黑體");
  unicode-range: U+0024; }

p,
button,
input,
a,
div, span {
  font-family: "my_font"; }

span {
  font-family: "my_font"; }

* {
  font-family: "my_font"; }

a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: all;
  z-index: 10; }

ul,
li {
  list-style-type: none; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

a {
  text-decoration: none; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block; }

* {
  outline: none; }

button {
  cursor: pointer; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

.clearfix {
  content: "";
  display: table;
  clear: both; }

body {
  overflow-x: hidden;
  width: 100vw;
  margin: 0 auto; }

a {
  text-decoration: none; }

p {
  margin: 0;
  font-family: Microsoft JhengHei; }

h1 {
  margin: 0;
  font-family: Microsoft JhengHei; }

button {
  font-family: Microsoft JhengHei; }

ul {
  margin: 0;
  padding: 0; }

/*由此開始*/
.header {
  width: 96vw;
  margin: 0 auto;
  position: relative; }
  .header .bg_header {
    width: 96vw;
    height: 15rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: url(../image/Hero.png) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; }
    .header .bg_header .title_text {
      text-align: center;
      font-size: 2.5rem;
      white-space: nowrap;
      position: absolute;
      left: 52%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      top: 50%;
      color: white;
      letter-spacing: 8px; }
    .header .bg_header form {
      position: absolute;
      top: 75%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .header .bg_header form .drow-bar {
        background-image: url(../image/icons_down.png);
        background-repeat: no-repeat;
        background-position: center right 16px;
        background-color: rgba(255, 255, 255, 0.7);
        border: 3px solid #ffffff;
        border-radius: 2px;
        width: 80vw;
        height: 2rem;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none; }
  .header .hot_part {
    left: 50%;
    top: 100%;
    background-color: white;
    position: absolute;
    width: 70vw;
    height: 4rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 1rem 0 0 0;
    -webkit-box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.3); }
    .header .hot_part p {
      padding: 0 0 0 1rem;
      letter-spacing: 2px; }
    .header .hot_part .HotList {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      top: 30%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      letter-spacing: 70px;
      width: 100%;
      padding: 0 0.5rem; }
      .header .hot_part .HotList button {
        padding: 0;
        border: 0;
        color: white;
        width: 7rem;
        height: 2.5rem;
        font-size: 1.125rem;
        border-radius: 4px;
        width: 23%; }

option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px; }

.pages-content {
  position: absolute;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  list-style-type: none; }
  .pages-content ul {
    position: absolute;
    display: inline-block;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    list-style-type: none; }

#hot1 {
  background-color: #8a82cc; }

#hot2 {
  background-color: #ffa782; }

#hot3 {
  background-color: #f5d105; }

#hot4 {
  background-color: #559ac8; }

.dotted-line {
  position: relative;
  width: 100%;
  height: 1px;
  text-align: center;
  top: 0px;
  left: 0%;
  background-image: -webkit-gradient(linear, left top, right top, from(#559ac8), color-stop(60%, #559ac8), color-stop(50%, transparent));
  background-image: -webkit-linear-gradient(left, #559ac8 0%, #559ac8 60%, transparent 50%);
  background-image: -o-linear-gradient(left, #559ac8 0%, #559ac8 60%, transparent 50%);
  background-image: linear-gradient(to right, #559ac8 0%, #559ac8 60%, transparent 50%);
  background-size: 10px 1px;
  margin: 5rem auto 1rem; }
  .dotted-line img {
    position: absolute;
    left: 50%;
    top: -8px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 1px solid #559ac8;
    border-radius: 100px;
    -webkit-filter: invert(69%) sepia(12%) saturate(2013%) hue-rotate(167deg) brightness(81%) contrast(91%);
    filter: invert(69%) sepia(12%) saturate(2013%) hue-rotate(167deg) brightness(81%) contrast(91%);
    padding: 4px 3px;
    z-index: 3; }

.content {
  position: relative;
  width: 100%;
  height: auto; }

#currentPart {
  text-align: center;
  font-family: Microsoft JhengHei;
  font-size: 1.25rem;
  color: #8a82cc;
  margin-bottom: 1rem; }

#Data_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 96vw;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #Data_container .Data_set {
    display: inline-block;
    position: relative;
    width: 49%; }

.Data_title {
  position: relative;
  color: white; }
  .Data_title .img-set {
    width: 20rem;
    height: 10rem; }

.Data-content {
  position: relative; }
  .Data-content .text_wrap p {
    width: 75%;
    display: inline-block;
    vertical-align: middle; }
  .Data-content img {
    padding: 10px; }

.part-Name {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  font-size: 1.25rem; }

.part-Name2 {
  position: absolute;
  left: 2rem;
  bottom: 7rem;
  font-size: 1.25rem; }

.col_6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }
  .col_6:nth-child(odd) {
    padding-right: 1rem; }
  .col_6:nth-child(even) {
    padding-left: 1rem; }

.col_12 {
  width: 100%; }
  .col_12 img {
    max-width: 100%;
    display: inline-block;
    line-height: 1;
    vertical-align: middle; }

.container {
  width: 1080px;
  margin: 0 auto; }

.footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color: #559ac8;
  position: relative; }

.pages {
  display: block;
  position: relative;
  width: 96vw;
  height: 2rem;
  margin: 0 auto; }
  .pages ul li {
    float: left;
    margin-right: 1rem;
    letter-spacing: 1px; }
    .pages ul li a {
      color: black; }

.footer_content {
  position: absolute;
  letter-spacing: 2px;
  top: 3vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.footer_title1 {
  color: white;
  padding-bottom: 5px; }

.footer_title2 {
  color: gold; }

.go-to-top {
  position: absolute;
  right: 0vw; }

@media screen and (max-width: 600px) {
  html {
    font-size: 14px; } }
