
.clearfix {
  content: "";
  display: table;
  clear: both;
}

body{
    overflow-x:hidden;
}
a{
	    text-decoration:none;
}
p,h1{
	margin:0;
}
body{
    width: 1080px;
    margin: 0 auto;
}
p,h1
{
	font-family: Microsoft JhengHei;
}
form{
    position: absolute;
    top: 15em;
    left: 47em;
}
button{
	 font-family: Microsoft JhengHei;
}

ul{
	margin:0;
	padding:0;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
img{

}
.pages-content ul{
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    list-style-type: none;
}

.title-text {
	text-align: center;
    z-index: 0.1;
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
    top: 10%;
    color: white;
    font-size: 45px;
    letter-spacing: 8px;
}

.bg-header{
	max-width: 1080px;
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.drow-bar{
    background-image: url(../image/icons_down.png);
    background-repeat: no-repeat;
    background-position: center right 16px;
	background-color: rgba(255,255,255,0.7);
	border:3px solid #ffffff;
	border-radius: 2px;
    width: 29rem;
    height: 3rem;
	appearance:none;
	-moz-appearance:none;
  -webkit-appearance:none;
}

.HotPart{
	left: 166px;
    background-color: white;
    position: relative;
    width: 40vw;
    height: 10vh;
    top: -35px;
    /* border: 2px solid rgba(0,0,0,0.3); */
    border-radius: 8px;
    box-shadow: 0 0px 3px 0px rgba(0,0,0,0.3);
}

.HotPart p{
	    position: relative;
	    top: 18%;
	    left: 5%;
	    letter-spacing: 2px;

	}

.HotList{
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 70px;
    width: 100%;

}

.HotList button{
	padding:0;
	border:0;
	color: white;
    width: 7rem;
    height: 2.5rem;
    font-size: 20px;
    border-radius: 4px;

}

#hot1{
	background-color:#8A82CC;
}
#hot2{
	background-color:#FFA782;
}
#hot3{
	background-color:#F5D105;
}
#hot4{
	background-color:#559AC8;
}
/*header*/

.dotted-line{
    position: relative;
    width: 1024px;
    height: 1px;
    text-align: center;
    top: 0px;
    left: 0%;
    background-image: linear-gradient(to right, #559ac8 0%, #559ac8 60%,transparent 50%);
    background-size: 10px 1px;
    margin: 0 auto;
}
.dotted-line img{
    position: absolute;
    left: 50%;
    top: -8px;
    transform: translateX(-50%);
    border: 1px solid #559ac8;
    border-radius: 100px;
    filter: invert(69%) sepia(12%) saturate(2013%) hue-rotate(167deg) brightness(81%) contrast(91%);
    padding: 4px 3px;
    z-index: 3;

}
/*content*/
.content{
    position: relative;
    top: 26px;
    width: 1080px;
    height: 100px;
    margin: 20px auto;
}
#currentPart{
	text-align: center;
    font-family: Microsoft JhengHei;
    font-size: 36px;
    color: #8A82CC;
    margin-bottom: 15px;
}

.img-set{
	width: 460px;
    height: 155px;
}
#Data-container{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1024px;
    margin: 0 auto;
}

.Data-title{
	position: relative;
	color: white;
}

.Data-content{
	position: relative;
}
/*.Data-content .col-6{
	padding:0;
}*/
.Data-content img{
	padding: 10px;
}
.part-Name
{
	position: absolute;
    left: 20px;
    top: 115px;
    font-size: 21px;
}
.part-Name2{
    position: absolute;
    left: 400px;
    top: 115px;
    font-size: 15px;
}

.col-12{
	width: 100%;
}

/*.col-6{
	width: 50%;
    float: left;
    border: 1px solid black;
   
}*/
.Data-set{
    display: inline-block;
	position: relative;
    margin-right: 10px;
    margin-bottom: 30px;
    left: 40px;
}


.right-set{
    display: inline-block;
    position: absolute;
    top: 87px;
    left: 300px;
    width: 100%;
}
/*.left-set{
    display:inline-block;
    float:left;
}*/
.container{
	width: 1080px;
	margin:0 auto;
    
}
.pages{
    display: inline-block;
    position: relative;
    width: 1080px;
    height: 2vh;
    margin: 0 auto;
    text-align: center;
    bottom: 3vh;
}
.pages ul li{
    float: left;
    width: 50px;
    letter-spacing: 1px;
}

.pages ul li a{
	color:black;
}

.pages-content{
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    list-style-type: none;
}
.go-to-top{
    position: absolute;
    right: 0vw;
}
/*content*/

.footer{
    position: relative;
    text-align: center;
    bottom: -5vh;
    width: 1080px;
    height: 100px;
    margin: 0 auto;
    background-color: #559ac8;
}

.footer-content{
	position: absolute;
    letter-spacing: 2px;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
}
.footer-title1{

	color: white;
    padding-bottom: 5px;
}
.footer-title2{

	color: gold;
}

@media (max-width: 1000px){
    .Data-set {
        width: 100%;

    }

    .HotPart {
        left: 27px;
    }
        form {
        position: absolute;
        top: 150px;
        left: 30px;
    }

    .bg-header {
        display: block;
    }

}